<tr class="order-details">
  <td class="order-name">
    <%= order.user_name %>
  </td>
  <td class="order-address">
    <%= order.delivery_address %>
  </td>
  <td class="order-price">
    <%= number_to_currency order.total_price %>
  </td>
  <td class="books-name">
    <% order.order_details.includes(:book).each do |od| %>
      <div>
        <%= link_to od.book.name, book_path(od.book.id) %> x
        <%= od.order_quantity %>
      </div>
    <% end %>
  </td>
  <td class="order-price">
    <%= t order.status %>
  </td>
  <td>

    <%= link_to fa_icon("solid check"), admin_order_path(id: order.id, status: Settings.status_accepted),
        method: :patch, remote: true, class: "btn btn-success" %>
    <%= link_to fa_icon("times-circle"), admin_order_path(id: order.id, status: Settings.status_rejected),
        method: :patch, remote: true, class: "btn btn-warning" %>
        <i class="fa-regular fa-circle-trash"></i>
    <%= link_to fa_icon("trash"), admin_order_path(id: order.id),
        {data: {confirm: "delete_confirm"}, method: :delete, remote: true, class: "btn btn-danger"} %>
  </td>
</tr>
