<tr class="order-details">
  <td class="order-name">
    <%= order.id %>
  </td>
  <td class="order-name">
    <%= order.user.name %>
  </td>
  <td class="order-address">
    <%= order.delivery_address %>
  </td>
  <td class="order-price">
    <%= number_to_currency order.total_price %>
  </td>
  <td class="books-name">
    <% order.order_details.each do |od| %>
      <div>
        <%= link_to od.book.name, book_path(od.book.id) %> x
        <%= od.order_quantity %>
      </div>
    <% end %>
  </td>
  <td class="order-price">
    <%= t order.status %>
  </td>
  <td>
    <%= link_to t("cancel_order"), carts_path(id: order.id), {data: {confirm: "cancel_confirm"}, method: :delete, remote: true, class: "btn btn-danger"}%>
  </td>
</tr>
