<div class="women-product">
	<div class=" w_content">
		<div class="women">
			<a href="#"><h4> <%= link_to t("products_list"), "#" %> </h4></a>
			<ul class="w_nav">
				<li><%= t "sort" %> </li>
				<li><%= link_to t("popular"), "#" %></li> |
				<li><%= link_to t("new"), "#" %></li> |
				<li><%= link_to t("price"), "#" %></li>
				<div class="clearfix"> </div>
			</ul>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- grids_of_4 -->
	<div class="grid-product">
		<div class="  product-grid">
			<div class="content_box">
				<a href="single.html">
					<div class="left-grid-view grid-view-left">
						<%= link_to image_tag("pic1.jpg", alt: "product", class: "img-responsive watch-right"), "#" %>
						<div class="mask">
							<div class="info">Quick View</div>
						</div>
				</a>
					</div>
					<h4><a href="#">Ra Bờ Suối Ngắm Hoa Kèn Hồng </a></h4>
					130.500 đ
			</div>
		</div>

			<div class="clearfix"> </div>
		</div>
	</div>
