<div class="women-product">
  <div class=" w_content">
    <div class="women">
      <a href="#"><h4> <%= link_to t("products_list"), "#" %> </h4></a>
      <ul class="w_nav">
        <li><%= t "sort" %> </li>
        <li><%= link_to t("popular"), "#" %></li> |
        <li><%= link_to t("new"), "#" %></li> |
        <li><%= link_to t("price"), "#" %></li>
        <div class="clearfix"> </div>
      </ul>
      <div class="clearfix"> </div>
    </div>
  </div>
  <div class="grid-product">
    <%= render @books %>
    <%== pagy_bootstrap_nav(@pagy) %>
    <div class="clearfix"> </div>
  </div>
</div>
