<div class="single_top">
  <div class="single_grid">
    <div class="grid images_3_of_2">
      <ul id="product-image">
        <li>
          <%= image_tag("pic1.jpg", class: "img-responsive") %>
        </li>
      </ul>
    </div>
    <div class="desc1 span_3_of_2">
      <h4>
        <%= @book.name %>
      </h4>
      <div class="cart-b">
        <div class="left-n ">
          <%= number_to_currency(@book.price) %>
        </div>
        <%= form_for @order_detail, remote: true do |f| %>
          <div class="order-btn">
            <div>
              <%= f.label :order_quantity %>:
              <%= f.number_field :order_quantity, value: 1, class: "form-control order-quantity", min: 1, max: @book.quantity %>
            </div>
            <%= f.hidden_field :book_id, value: @book.id %>
            <%= f.hidden_field :price_at_order, value: @book.price %>
            <%= f.submit t("add_to_cart"), class: "btn btn-primary"%>
          </div>
        <% end %>
        <div class="clearfix"></div>
      </div>
      <h6>
        <%= pluralize @book.quantity, t("item") %>
        <%= t "in_stock" %>
      </h6>
      <h6>
        <%= pluralize @book.num_pages, t("page") %>
      </h6>
      <h6>
        <%= t "publisher" %>:
        <%= @book.publisher_name %>
      </h6>
      <h6>
        <%= t "publish_year" %>:
        <%= @book.publish_year.year %>
      </h6>
      <h6>
        <%= t "author" %>:
        <% @book.authors.each do |author| %>
          <div class="author_name">
            <%= author.name %>
          </div>
        <% end %>
      </h6>
    </div>
    <div class="clearfix"> </div>
  </div>
  <div class="toogle">
    <h3 class="m_3">
      <%= t "product_detail" %>
    </h3>
    <p class="m_text"><%= @book.description %></p>
  </div>
</div>
<div class="clearfix"> </div>
