<div class="single_top">
  <div class="single_grid">
    <div class="grid images_3_of_2">
      <ul id="product-image">
        <li>
          <%= image_tag("pic1.jpg", class: "img-responsive") %>
        </li>
      </ul>
    </div>
    <div class="desc1 span_3_of_2">
      <h4>
        <%= @book.name %>
      </h4>
      <div class="cart-b">
        <div class="left-n ">
          <%= number_to_currency(@book.price) %>
        </div>
        <%= link_to t("add_to_cart"), "#", class: "now-get get-cart-in"%>
        <div class="clearfix"></div>
      </div>
      <h6>
        <%= pluralize @book.quantity, t("item") %>
        <%= t "in_stock" %>
      </h6>
      <h6>
        <%= pluralize @book.num_pages, t("page") %>
      </h6>
      <h6>
        <%= t "publisher" %>:
        <%= @book.publisher_name %>
      </h6>
      <h6>
        <%= t "publish_year" %>:
        <%= @book.publish_year.year %>
      </h6>
      <h6>
        <%= t "author" %>:
        <% @book.authors.each do |author| %>
          <div class="author_name">
            <%= author.name %>
          </div>
        <% end %>
      </h6>
    </div>
    <div class="clearfix"> </div>
  </div>
  <div class="toogle">
    <h3 class="m_3">
      <%= t "product_detail" %>
    </h3>
    <p class="m_text"><%= @book.description %></p>
  </div>
</div>
<div class="clearfix"> </div>
