<div class="well">
  <div class="row">
    <div class="col-xs-8">
      <h4><%= book.name %></h4>
    </div>
    <div class="col-xs-4">
      <%= form_for order_detail, remote: true do |f| %>
        <h4 class="text-right"><%= t"unit_price" %>: <span><%= number_to_currency order_detail.price_at_order %></span></h4>
        <div class="row">
          <div class="col-xs-4">
            <%= f.number_field :order_quantity, class: "form-control order-quantity", min: Settings.min_order_quantity %>
            <%= f.hidden_field :book_id, value: book.id %>
            <%= f.hidden_field :price_at_order, value: book.price %>
          </div>
          <div class="col-xs-8 text-right">
            <div class="btn-group">
              <%= f.submit t("update"), class: "btn btn-primary" %>
              <%= link_to t("delete"), order_detail, { data: { confirm: t("delete_confirm") }, method: :delete, remote: true, class: "btn btn-danger" } %>
            </div>
          </div>
        </div>
        <h4 class="text-right"><%= t"total_price" %>: <span><%= number_to_currency order_detail.total_price %></span></h4>
      <% end %>
    </div>
  </div>
</div>
