<div class="well">
  <div class="row">
    <div class="col-xs-6 order-book-info">
    <div class="order-detail-image">
      <%= link_to presence_image?(book), book_path(book.id) %>
    </div>
    <div>
      <h4><%= link_to book.name, book_path(book.id) %></h4>
      <h6><%= t "unit_price" %>: <span class="book-price"><%= number_to_currency order_detail.price_at_order %></span></h6>
      <h6><%= t "total_price" %>: <span class="book-price"><%= number_to_currency order_detail.total_price %></span></h6>
    </div>
    </div>
    <div class="col-xs-6">
      <%= form_for order_detail, remote: true do |f| %>
        <div class="row">
          <div class="col-xs-4">
            <%= f.number_field :order_quantity, class: "form-control order-quantity", min: Settings.min_order_quantity , max: book.quantity%>
            <%= f.hidden_field :book_id, value: book.id %>
            <%= f.hidden_field :price_at_order, value: book.price %>
          </div>
          <div class="col-xs-8 text-right">
            <div class="btn-group">
              <%= f.submit t("update"), class: "btn btn-primary" %>
              <%= link_to t("delete"), order_detail, { data: { confirm: t("delete_confirm") }, method: :delete, remote: true, class: "btn btn-danger" } %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
