<div class="col-sm-3 sidenav hidden-xs">
  <h2><%= t "admin_pages" %></h2>
  <ul class="nav nav-pills nav-stacked">
    <li><%= link_to t("overview"), admin_root_path %></li>
    <li><%= link_to t("orders"), admin_orders_path %></li>
    <li><%= link_to t("products"), "#" %></li>
    <li><%= link_to t("users"), "#" %></li>
    <li><%= link_to t("categories"), "#" %></li>
    <li><%= link_to t("pulishers"), "#" %></li>
    <li><%= link_to t("authors"), "#" %></li>
  </ul><br>
</div>
