<div class="clearfix"></div>
<div class="footer">
	<div class="footer-bottom">
		<div class="container">
			<div class="footer-bottom-cate">
				<h6><%= t "categories" %></h6>
				<ul>
					<li>
						<%= link_to t("history"), "#" %>
					</li>
				</ul>
			</div>
			<div class="footer-bottom-cate bottom-grid-cat">
				<h6><%= t "hot_trend" %></h6>
				<ul>
					<li><a href="#">Curabitur sapien</a></li>
				</ul>
			</div>
			<div class="footer-bottom-cate">
				<h6><%= t "top_publisher" %></h6>
				<ul>
					<li><a href="#">Curabitur sapien</a></li>
				</ul>
			</div>
			<div class="footer-bottom-cate cate-bottom">
				<h6><%= t "our_address" %></h6>
				<ul>
					<li>Việt Nam</li>
					<li class="phone">Phone: <%= Settings.phone %></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
